<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
  <div class="c-vedio">
    <video class="video" #videoPlayer>
      <source src="http://static.videogular.com/assets/videos/videogular.mp4" type="video/mp4" />
    </video>
    <div class="controls">
      <div class="orange-bar">



        <div class="buffer" [ngStyle]="{width:bufferWidth}">
            <div class="oval" [ngStyle]="{left:videoWidth}"></div>
            <div class="orange-juice" [ngStyle]="{width:videoWidth}"></div>
        </div>

      </div>
      <div class="buttons">
        <button>
          <svg>
            <use xlink:href="./../assets/images/share-grey.svg#share-grey"></use>
          </svg>
        </button>
        <button>
          <svg>
            <use xlink:href="./../assets/images/rewind-white.svg#rewind-white"></use>
          </svg>
        </button>
        <button [ngClass]="playpause == 'pause' ? 'pause' : 'play'" (click)="toggleVideo($event)">
          <svg *ngIf="playpause == 'play'">
            <!-- <img *ngIf="playpause == play" src="./../assets/images/play-white.svg" /> -->
            <use xlink:href="./../assets/images/play-white.svg#play-white"></use>
          </svg>
          <svg *ngIf="playpause == 'pause'">
            <use xlink:href="./../assets/images/pause-white.svg#pause-white"></use>
          </svg>
        </button>
        <button>
          <svg>
            <use xlink:href="./../assets/images/fast-forward-white.svg#fast-forward-white"></use>
          </svg>
        </button>
        <button>
          <svg>
            <use xlink:href="./../assets/images/menu-grey.svg#menu-grey"></use>
          </svg>
        </button>
        <!-- <button *ngIf="playpause == 'play' ? 'play' : ''"  (click)="toggleVideo($event)"></button> -->
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
